<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="es">
    <div th:fragment="top">

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap" rel="stylesheet"/>

        <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
        <link rel="stylesheet" href="../static/clinic.css" th:href="@{/clinic.css}"/>

        <script type="text/javascript" src="../static/jquery-3.7.0.min.js" th:src="@{/jquery-3.7.0.min.js}"></script>
        <script type="text/javascript" src="../static/bootstrap.min.js" th:src="@{/bootstrap.min.js}"></script>

        <title>Gestión de Turnos</title>
    </div>

</head>
</html>
